<h3 style="text-align:center; color:blue;font-size: 30px;">EmployeeManagement System</h3>
<hr>
<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-4">
                <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                    <mat-label>EmployeeId</mat-label>
                    <input [style.width.px]=357 matInput type="number" placeholder="EnterEmployeeId">
                  </mat-form-field>

            </div>
            <div class="col-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>EmployeeName</mat-label>
                    <input [style.width.px]=357 matInput type="text" placeholder="EnterEmployeeName">
                  </mat-form-field>

            </div>
        </div>


    </form>
</div>