.mob-table{
    width:800px;
    padding: 20px 25px;
    background-color: white;
    margin: 30px 0;
    border-radius: 3px;
}
.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #435d7d;
    color: #fff;
}
.add{
    background-color: #5cb85c;
    color: #fff;
}