<h4>New Booking</h4>
<!-- Regular Buttons -->
<!-- <div class="mb">
<button mat-button color="primary" class="mr">Save</button>
<button mat-button color="accent" class="mr">Cancel</button>
<button mat-button color="warn" class="mr">Delete</button>

</div> -->
<!-- Flat Buttons -->
<!-- <div class="mb">
    <button mat-flat-button color="primary" class="mr">Save</button>
    <button mat-flat-button color="accent" class="mr">Cancel</button>
    <button mat-flat-button color="warn" class="mr">Delete</button>
    
    </div> -->
    <!-- Raised Buttons -->
    <!-- <div class="mb">
        <button mat-raised-button color="primary" class="mr">Save</button>
        <button mat-raised-button color="accent" class="mr">Cancel</button>
        <button mat-raised-button color="warn" class="mr">Delete</button>
        
        </div> -->
        <!-- Sroked Buttons -->
        <!-- <div class="mb">
            <button mat-stroked-button color="primary" class="mr">Save</button>
            <button mat-stroked-button color="accent" class="mr">Cancel</button>
            <button mat-stroked-button color="warn" class="mr">Delete</button>
            
            </div> -->
            <!-- <br><br><br>
            <div class="mb">
                <button mat-raised-button color="primary" class="mr">Save</button>
                <button mat-flat-button color="accent" class="mr">Cancel</button>
                <button mat-stroked-button color="warn" class="mr">Delete</button>
                
                </div> -->
                <!-- Icon Buttons -->
                <!-- <div class="mb">
                    <button mat-icon-button color="primary" class="mr"><mat-icon>save</mat-icon></button>
                    <button mat-icon-button color="accent" class="mr"><mat-icon>cancel</mat-icon></button>
                    <button mat-icon-button color="warn" class="mr"><mat-icon>delete</mat-icon></button>
                    
                    </div> -->
                    <!-- FabIcons -->
                    <!-- <div class="mb">
                        <button mat-fab color="primary" class="mr">Save</button>
                        <button mat-fab color="accent" class="mr">Cancel</button>
                        <button mat-fab color="warn" class="mr">Delete</button>
                        
                        </div> --> 
                        <!-- Inputs -->
                        <mat-form-field class="w-100" floatLabel="auto" appearance="fill" color="primary">
                            <mat-label>UserLabel</mat-label>
                            <input matInput type="text" placeholder="userName"
                            required="required">
                            <mat-hint>Upto 20 CharactersOnly..</mat-hint>
                            <mat-icon matSuffix>visibility</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="w-100" floatLabel="auto" appearance="outline" color="primary">
                            <mat-label>UserLabel-2</mat-label>
                            <input matInput type="text" placeholder="userName"
                            required="required">
                            <mat-hint>Upto 20 CharactersOnly..</mat-hint>
                            
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="fill" color="primary">
                            <mat-label>User Email</mat-label>
                            <input matInput type="text" placeholder="placeholder">
                            <mat-hint>Minimum 10 characters</mat-hint>
                            <mat-icon matPrefix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field floatLabel="auto" appearance="fill">
                            <mat-label>Person</mat-label>
                            <mat-icon>person</mat-icon>
                            <input matInput mat-select>
                        </mat-form-field>

                    