<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eaque voluptatem accusamus id modi consequuntur aperiam illo voluptatum fugiat at magnam, tempora cumque dolor? Temporibus tempora autem esse facere odio.</p>
        </div>
    </div>
</div>
<!-- Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="email">
                    <div class="form-group">
                        <label for="photo">Photo</label>
                        <input type="text" name="photo" class="form-control" placeholder="photoUrl">
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile</label>
                        <input type="number" name="mobile" class="form-control" placeholder="mobile Number">
                    </div>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" name="company" class="form-control" placeholder="company">
                    </div>
                    <div class="form-group mb-2">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="form-control" placeholder="title">
                    </div>
                    <div class="form-group mb-2">
                        <select name="" class="form-control">
                            <option value="select a Group">Select a Group</option>

                        </select>
                    </div>

                    <div class="form-group">
                    <input type="submit" class="btn btn-danger my-2" value="create">
                    <input type="submit"  class="btn btn-dark mx-2" value="close">

                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-4">
            <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuBJT5wHCiGz1_ahHSkMCToJutWRc7_GtpEklerkC0wtu0zj9j0mRsCuUVCWRx4gtCQkc&usqp=CAU" >
        </div>
    </div>
</div>